@model MSota.Models.Statement

@{
    ViewData["Title"] = "StatementDetails";
}

<h1>StatementDetails</h1>

<div>
    <h4>Statement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FulizaAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FulizaAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FulizaCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FulizaCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FulizaAmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FulizaAmountPaid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
