@model IEnumerable<MSota.Models.StatisticsModel>

@{
    ViewData["Title"] = "ViewDataAndStatistics";
}

<h1>Statistics</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountSpent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountBorrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountCharged)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="number1">
                @Html.DisplayFor(modelItem => item.AmountSpent)
            </td>
            <td id="number2">
                @Html.DisplayFor(modelItem => item.AmountReceived)
            </td>
            <td id="number3">
                @Html.DisplayFor(modelItem => item.AmountBorrowed)
            </td>
            <td id="number4">
                @Html.DisplayFor(modelItem => item.AmountCharged)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
